
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  h2 {
    margin: 2rem 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  p {
    line-height: 1.6;
  }
  html {
    scroll-behavior: smooth;
  }
  